:root {
    --white: #ffffff;
    --gray: #434257;
    --black: #18172c;
    --red: linear-gradient(80deg, #e72121, #f0a6a6);
    --green: linear-gradient(60deg, #9fffa3, #43a047);
  }

/* Formateamos el label que servirá de contenedor */
.switch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 20px;
    margin: 10px auto 0;
    border-radius: 15px;
    color: var(--white);
    background: var(--white);
  }
   
/* Ocultamos el checkbox html */
.switch input {
  display:none;
}
 
/* Formateamos la caja del interruptor sobre la cual se deslizará la perilla de control o slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: var(--red);
  box-shadow: 0 0 10px red;
}
   
/* Pintamos la perilla de control o slider usando el selector before */
.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 1px;
  bottom: -1.5px;
  background: var(--white);
  border-radius: 50%;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
 
/* Cambiamos el color de fondo cuando el checkbox esta activado */
input:checked + .slider {
  background: var(--green);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  box-shadow: 0 0 10px green;
}
 
/* Deslizamos el slider a la derecha cuando el checkbox esta activado */ 
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  box-shadow: 0 0 10px green;
}
 
/* Aplicamos efecto de bordes redondeados en slider y en el fondo del slider */
.slider.round {
  border-radius: 34px;
}
 
.slider.round:before {
  border-radius: 50%;
}

/*****************************************************************************/

.html {
    padding: 30px 10px;
    font-size: 16px;
    line-height: 1.4;
    color: #ffffff;
    background: #f0f0f0;
    -webkit-text-size-adjust: 500%;
    -ms-text-size-adjust: 300%;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.tags {
    color: #0026ff;
    margin: 0 10px;
    font-size: 40px;
}

.pagina {
    text-decoration: underline;
    color: #ff0000;
    font-size: 80px;
}

.p {
    margin: 1em 0;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 10px rgb(77, 73, 73);
    text-align: left;
}

.content {
    max-width: 700px;
    width: 700px;
    padding: 30px 20px 50px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 20px 20px 20px #302e2e, inset 0 1px 0 #fff;
    background: #ffffff;
    text-align: center;
    float: center;
    max-width: 90%;
}