*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #e2e2e2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a5a5a5, #e2e2e2); 
    background: linear-gradient(to right, #a5a5a5, #e2e2e2);
}
.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.form-box h2{
    font-size: 2em;
    color: #000000;
    font-weight: 900;
    text-shadow: 0 0 10px rgb(255, 255, 255);
    text-align: center;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill~label,
input:-webkit-autofill~label{
    top: 5px;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #000000;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 1px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #000000;
    font-weight: 600;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: 5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgb(103, 104, 107);
    font-weight: 500;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #000000;
    line-height: 57px;
}
.forgetpassword{
    position: relative;
    font-size: 0.9em;
    text-align: left;
}
.forgotstyle{
    color: rgb(102, 102, 102);
    text-decoration: none;
    font-style: italic;
    transition: all 0.3s ease;
    text-shadow: 0 0 8px rgb(58, 58, 58);
}
.forgotstyle:hover{
    text-shadow: 2px 2px 5px white;
    color: white;
}